################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.exe
*.v2
*.vsidx
*.suo
*.bin
bin/
obj/
